/*normalize*/
html,
body,
form {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px "Segoe UI", Arial, sans-serif;
    color: #051e26;
}

@media only screen and (min-width: 481px) and (max-width: 720px) {
    body {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 20px;
    }
}

a {
    background: transparent;
}

img {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    width: 100px;
    margin-right: 0px;
    margin-top: 0px;
    height: 100px;
    margin-left: 0px;
}

#logo img {
    max-height: 50px;
    width: auto;
}

button,
input {
    -webkit-appearance: none;
    cursor: pointer;
}

hr {
    border-width: 1px 0 0 0;
    border-color: #767676;
    border-style: solid;
}

/*typography*/
h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}

h1, h2, h3 {
    font-weight: normal;
    margin: .5em 0;
}

h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.25em;
    font-weight: bold;
    color: #1e1e2f;
}

h2 {
    font-size: 1.875em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .875em;
}

.error {
    color: Red;
    font-size: 12px;
    padding: 20px;
}

/*template*/
#wrapper .t-container-fluid {
    max-width: 100%;
}

#wrapper .RadButton {
    font-size: 1em;
}

#wrapper .RadMenu,
div.RadMenuPopup,
#wrapper .RadMenu_Default, #wrapper .RadMenu_Default a.rmLink {
    font-size: 1em;
}

/* Form Elements*
--------------------------------------------------------------------------*/


.topnav {
    background-color: #0000ff;
    width: 100%;
    /* new features added*/
    position: sticky;
    z-index: 1;
}

    .topnav menu {
        padding: 4px 0px 4px 8px;
        /* new features added*/
        position: sticky;
        z-index: 1;
    }

    .topnav ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
        /* new features added*/
        position: sticky;
        z-index: 1;
    }

    .topnav a {
        background-color: #e6ecff;
        border: 1px #0000ff solid;
        color: #0000ff;
        display: block;
        line-height: 1.35em;
        padding: 4px 20px;
        text-decoration: none;
        white-space: nowrap;
    }

        .topnav a:hover {
            background-color: #f0f0f5;
            color: #884dff;
            text-decoration: none;
        }

div.topnav a:active {
    background-color: #f0f0f5;
    color: #0000ff;
    text-decoration: none;
}

div.hideSkiplink {
    background-color: #000099;
    width: 100%;
    /* new features added*/
    position: sticky;
    z-index: 1;
}

div.sub_menu {
    padding: 4px 0px 4px 8px;
}

    div.sub_menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        div.sub_menu ul li a, div.sub_menu ul li a:visited {
            background-color: #fdebd0;
            border: 1px #1e1e2f solid;
            color: #af602a;
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

            div.sub_menu ul li a:hover {
                background-color: #ebecff;
                color: #000099;
                text-decoration: none;
            }

            div.sub_menu ul li a:active {
                background-color: #fdebd0;
                color: #af602a;
                text-decoration: none;
            }

.grdHeader {
    background-color: #c1c1d7;
    font-size: 12px;
}



.grdAlternatingRow {
    background-color: #f0f0f5;
}

.grdRecords {
    font-size: 11px;
    color: #ffffff;
}
.MyCalendar .ajax__calendar_container {
    border: 1px solid #646464;
    background-color: #FFFACD;
    color: red;
}

.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}

.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}

.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight: bold;
}



